
//
// VARIABLES
//

// Colors
$carmineRed: #F72585;
$raspberry: #B5179E;
$dahilaPurple: #7209B7;
$blackGrape: #560BAD;
$typanBlue: #480CA8;
$violet: #3A0CA3;
$persianBlue: #3F37C9;
$ultraMarine: #4361EE;
$lightBlue: #4895EF;
$cyan: #4CC9F0;

$blue: #4361EE;

// Grays
$black: #212529;
$darkerGray: #343a40;
$darkGray: #495057;
$gray: #6c757d;
$lightGray: #ced4da;
$white: #f8f9fa;

// Font stacks
$helvetica: 'Raleway', Helvetica, Arial, sans-serif;
$helveticaNeue: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}